img.displayed {
  display: block;
  margin: 0 auto; }

.border {
  border-width: 1px;
  border-color: #778899;
  border-style: solid; }

h1  {
  font-family: Bahnschrift, Helvetic, Arial, sans-serif;
  color: initial;
  text-align: center;
  font-size: 20px; }
  
h2 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: darkgreen;
  font-size: 18px;
  text-align: center; }
  
h3 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: black;
  font-size: 16px;
  text-align: left; 
  margin-left: 5px; }
  
h4 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: black;
  font-size: 15px;
  text-align: left; 
  margin-left: 5px; }

h5 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: black;
  font-size: 14px;
  text-align: left;
  margin-left: 5px; }

h6 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: black;
  font-size: 11px;
  text-align: left; 
  margin-left: 5px; }

h7 {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  color: black;
  font-size: 10px;
  text-align: left; 
  margin-left: 5px; }
    
p {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  font-size: 13.5px;
  text-align: left; 
  margin-left: 5px; }

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%)

body {
  font-family: Bahnschrift, Arial, Helvetic, sans-serif;
  font-size: 100%;  // was 15px.
  background-color: #EEEEEE;
  color: #000000;
  text-align: left;
  padding: 5px;
  
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}

#myBtn:hover {
  background-color: #555;
}

// moved here - 11/29/2022 from below 6/18/21.
.dropbtn {
  background-color: #04006D;
  color: white;
  padding: 14px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ccc;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #398e41;}
