/* styles.css - github.com/bbauska/CAD101en/css/styles.css */
img.displayed {
  display: block;
  margin: 0 auto; }

.border {
  border-width: 1px;
  border-color: #778899;  /* dark grayish blue */
  border-style: solid; }

font-family: Bahnschrift, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", 
  "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, 
  "Courier New", Courier, monospace;

/* pre { white-space: pre-wrap; } */
.highlight {
  background-color: #ffff00;  /* yellow */
  color: #333;  /* very dark gray */
}

pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
pre:hover, pre:focus { width: min-content; }

h1  {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: initial;
  text-align: center;
  font-size: 20px; }
  
h2 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #006700;  /* dark green */
  font-size: 18px;
  text-align: center; }
h3 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 17px;
  text-align: left; 
  margin-left: 15px; }
h4 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: left; 
  margin-left: 15px; }
h5 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left;
  margin-left: 15px; }
h6 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 13px;
  text-align: left; 
  margin-left: 15px; }
h7 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 11px;
  text-align: left; 
  margin-left: 15px; }
p {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: #000;
  font-size: 15px;
  text-align: left; 
  margin-left: 15px;
}

mark.red {
  color:#ff0000;  /* pure (or mostly pure) red */
  background: #ffff00;  /* yellow */
}

mark.blue {
  color:#0000a0;  /* dark blue */
  background: #00ff00;  /* pure (or mostly pure) lime green */
}

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%)

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 15px;  /* 1.2rem */
  background-color: #eee;  /* very light gray */
  color: #000;  /* black */
  text-align: left;
  padding: 10px;
  margin-left: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #8b0000;  /* dark red */
  color: #fdfeff;  /* very pale (mostly white) blue */
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}

#myBtn:hover {
  background-color: #555;  /* very dark gray */
}

.dropbtn {
  background-color: #04006d;  /* very dark blue */
  color: #fff;  /* white */
  padding: 15px;  /* 11, 14px */
  font-size: 11px;  /* 12px */
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;  /* very light gray */
  min-width: 20em;  /* 25rem 160px 30rem */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 12px;  /* 11px */
  z-index: 1;
}
.dropdown-content a {
  color: darkgreen;  /* black */
  padding: 10px 12px;  /* 12px 16px */
  text-decoration: none;
  font-size: 12px;  /* blank, 11px */
  display: block;
}
.dropdown-content a:hover {background-color: #d9ead3;}  /* ddd light grayish green */

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #398e41;} /* 398e41 dark moderate lime green */

.button {
  background-color: blue;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid yellow;
  color: white;
  text-align: center;
}
